<head>
<link rel="stylesheet" type="text/css" href="css/mystyles.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<div class="container">
<div class="row">
<div class="col-md-8">
<h1>VEGGIE BURGER SHOP </h1>
</div> <!-- close col--> 
</div> <!-- close row-->

<div class="row">
<div class= "col-md-2">
<div id = "notchecked">
<h3> TO EAT </h3>	
{{#each getsomeeatenresults}}
<div class="boxer"><h4>	{{this.burger_name}}</h4> <button class="btn btn-sm btn-danger center-block" id="{{this.burger_name}}"> Devour it  </button></div>
{{/each}}
</div>
</div><!-- close col-->

<div class="col-md-4">
<img class="img-responsive" src="/img/veggie-burger.jpg" width="300" height="300">	
<h5> What kind of veggie burger would you like to eat?</h5>
<div class="centerdiv">
<form class="form-inline" method="post" action="/">
<div class="form-group">
<input type="text" class="form-control" id="exampleInputName2" name="bname" placeholder="your burger choice">
<button type="submit" class="btn btn-primary">Request </button>
</div>	
</form>
</div>
</div> <!-- close col -->

<div class= "col-md-2">
<div id = "checked">
<h3> EATEN </h3>	
{{#each getsomewholeresults}}
<div class="boxer"><h4 class="crossout">	{{this.burger_name}}</h4> <button class="btn btn-sm btn-danger center-block" id="{{this.burger_name}}"> Devour it  </button></div>
{{/each}}
</div>
</div><!-- close col-->
</div><!-- close row -->	
</div> <!-- close container -->

<script type ="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/clickster.js" ></script>
</body>
