.crossout{
  text-decoration: line-through;
}
input {
text-align: center;}
img {
  margin: 0 auto;
}
h5 {
  text-align: center;
}
h3{
  text-align: center;
}
.boxer {
  padding: 5px;
  border-style: solid;
  border-width: 2px;
}
h1 {
  padding: 25px;
  text-align: center;
}
h4 {
  text-align: center;
}
button {
  text-align: center;
}
.centerdiv{
  margin: 0 auto;
  padding-left: 45px;
}
